replicaCount: 1

image:
  repository: ghcr.io/mvs5465/loki-mcp
  tag: "latest"
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8000

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "500m"

env:
  LOKI_URL: "http://loki.monitoring.svc.cluster.local:3100"

nodeSelector: {}
tolerations: []
affinity: {}
